</div>
</main>
<footer>
    <div class="Footer"></div>
    <ul>
        <p class="footer">&copy;Copyright - Sahil Aggarwal - 301215266 - COMP229-Web Application Development</p>
    </ul>
</footer>
</body>

</html>