<%- include("partials/header")-%>

<img class="img" src="./images/Photo.jpeg" alt="Sahil Aggarwal">

<p id="about" class="about">Hi Everyone. My name is Sahil Aggarwal and currently I am enrolled in third semester of Software Technician Course. 
    I enjoy creating websites and in future looking to be full stack web developer. I have making numerous projects out of which this webssite is one 
    and I really enjoyed making this website as I got to learn new things and it boosted my confidence. This course is really providing bunch of knowledge 
    and thanks to my Professor Ajiboye Blessing for making this course really interesting and teaching concepts in depth to become a successful web developer. 
    I hope this website founds everyone good.

<p><h3>RESUME:</h3><a href="./resume/SAHIL R.pdf" download>DOWNLOAD</a></p>

<%- include("partials/footer")-%>