<%- include("partials/header")-%>
    <h2 class="mission">WELCOME MESSAGE</h2>

    <p id="home" class="AboutMe"><i>Hi Everyone. My name is Sahil Aggarwal and currently I am enrolled in third semester of Software Technician Course. 
        I enjoy creating websites and in future looking to be full stack web developer. I have making numerous projects out of which this webssite is one 
        and I really enjoyed making this website as I got to learn new things and it boosted my confidence. This course is really providing bunch of knowledge 
        and thanks to my Professor Ajiboye Blessing for making this course really interesting and teaching concepts in depth to become a successful web developer. 
        I hope this website founds everyone good.</i></p>
<hr>

    <h2 class="mission">MISSION STATEMENT</h2>
    <p id="home" class="AboutMe"><i>The mission or puropse of this website is to make tell the users about the services that our company offers 
        at very cheap and less time. Our company has about 10 years of experience in this industry and we have designed numberous websites and 
        mobile applictions for numberous small startups and big tech companies. We gather our clients requirements and based upon the requirements
        we design the applications and website to make our clients happy and develop strong bonding. We request every one to give us a chance in order to 
        prove ourselves.</i></p>
    
    <%- include("partials/footer")-%>