<!-- Project -->
<%- include("partials/header")-%>
    <hr>
    <br>
    <div class="card" style="width: 18rem;">
        <h4>Project 1 - Portfolio Website</h4>
        <img class="projectImage" src="images/S.TECH.png" alt="Card image cap">
        <p>This project uses HTML/CSS/JAVASCRIPT, EXPRESS NODE.JS, and EJS.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 2 - SOFTWARE REQUIREMENTS</h4>
        <img class="projectImage" src="images/SRSDOC.png" alt="Card image cap">
        <p>This project gives a good knowledge of writing the software requirements and methods and test caes that a project needs to make it.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 3 - GENERAL PROGRAMMING</h4>
        <img class="projectImage" src="images/Web.png" alt="Card image cap">
        <p>This project helps me learning new fundamnetals of HTML/CSS/JAVASCRIPT.</p>
    </div>
    <%- include("partials/footer")-%>