<!-- Services -->
<%- include("partials/header") -%>
    <marquee scrollamount="15">
        <img class="servicesImg" src="images/MobileApplication.jpeg">
        <img class="servicesImg" src="images/appDeveloper.jpg" alt="">
        <img class="servicesImg" src="images/developer.webp" alt="">
    </marquee>
    <br>
    <h2 class="relationship">Clients Satisfaction Our Priority</h2>
    <p style="font-size: x-large;"><b> SERVICES: </b></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MOBILE APPS DEVELOPEMENT</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WEBSITE DEVELOPEMENT</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GENERAL PROGRAMMING</p>
    <h3 style="text-align: center;">OUR SERVICES ARE AMONG THE BEST ACROSS NORTH AMERICA.</h3>

    <%- include("partials/footer")-%>